<template>
  <div class="win-bg-mask" v-show="cGetf.fIsShowWin">
    <div class="win-con">
      <h2>{{ setWinTitle }}</h2>
      <table>
        <tbody>
          <tr>
            <td>编号：</td>
            <td><input type="number" name="bId" placeholder="请输入数字编号" autocomplete="off" maxlength="15" ref="bidInput" :readonly="cGetf.fIsUpdate" :style="{backgroundColor: cGetf.fIsUpdate ? '#ddd': '#fff'}" v-model.trim="getOldBookInfo.bId" @blur="afterIdBlur" @input="idUnique">
              <span class="tip" v-show="isShowbIdTip" v-html="idTips"></span></td>
          </tr>
          <tr>
            <td>书名：</td>
            <td><input type="text" name="bName" v-model.trim="getOldBookInfo.bName" placeholder="请输入书名" autocomplete="off" maxlength="15" ref="bnameInput" @blur="afterNameBlur">
              <span class="tip" v-show="isShowbNameTip">书名不为空！</span>
            </td>
          </tr>
          <tr>
            <td>出版社：</td>
            <td>
              <div v-for="(pitem,pindex) in getPublish" :key="pitem.id">
                <input type="radio" name="bpName" :id="'J_pid_' + pitem.pId" v-model="getOldBookInfo.bPublish" :value="pitem.pName">
                <label :for="'J_pid_' + pitem.pId">{{ pitem.pName }}</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>作者：</td>
            <td>
              <select v-model="getOldBookInfo.bAuthor">
                <option v-for="(aitem,aindex) in getAuthor" name="baname" v-bind:value="aitem.aName">
                  {{ aitem.aName }}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <a btn href="javascript:;" @click="cClose">取消</a>
      <a btn href="javascript:;" @click="cUpdate">保存</a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: "popWin",
  props:['cGetf'],
  data(){
    return {
      idTips:'',
      isShowbIdTip: false,
      isShowbNameTip: false,
      getPublish: [],
      getAuthor: []
    }
  },
  created(){
    this.$axios.get('../../ajax/publish.json').then((response) => {
      this.getPublish = response.data;
    }).catch((error) => {
      //这里写一个无数据兼容
      console.log(error);
    });

    this.$axios.get('../../ajax/author.json').then((response) => {
      this.getAuthor = response.data;
    }).catch((error) => {
      //这里写一个无数据兼容
      console.log(error);
    })
  },
  computed:{
    ...mapGetters(['getterFilterBid']),
    getExistedBidArr(){
      return this.getterFilterBid;
    },
    getOldBookInfo(){
      return this.cGetf.fToUpdateBookInfo;
    },
    setWinTitle(){
      if(this.cGetf.fIsUpdate){
        return '更新图书信息';
      } else {
        return '添加图书信息';
      }
    }
  },
  methods:{
    cClose(){
      this.isShowbIdTip = false;
      this.isShowbNameTip = false;
      this.$emit('win-page-close');
    },
    cUpdate(){
      if(!this.isShowbIdTip && !this.isShowbNameTip && this.validateBid() && this.validateBname()){
        this.getOldBookInfo.bName = this.stripscript(this.getOldBookInfo.bName);
        this.$emit('win-page-update',this.getOldBookInfo);
      } 
      if(!this.validateBid()){
        this.idTips = '编号不为空';
        this.isShowbIdTip = true;
      }
      if(!this.validateBname()){
        this.isShowbNameTip = true;
      }
    },
    validateBid(){
      return !!this.$refs.bidInput.value;
    },
    validateBname(){
      return !!this.$refs.bnameInput.value;
    },
    afterIdBlur(){
      if(this.validateBid() && this.idTips !== '编号已经存在'){
        this.isShowbIdTip = false;
      }
    },
    afterNameBlur(){
      if(this.validateBname()){
        this.isShowbNameTip = false;
      }
    },
    idUnique(){//遍历已经存在的bid，保证添加的id的唯一性
      const idArr = this.getExistedBidArr;
      for(var i=0; i < idArr.length; i++){
        if(this.$refs.bidInput.value === idArr[i]){
          this.idTips = '编号已经存在';
          this.isShowbIdTip = true;
          break;
        } else {
          this.idTips = '';
          this.isShowbIdTip = false;
        }
      }
    },
    stripscript(s) { //过滤特殊字符
      var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）;—|{}【】‘；：”“'。，、？]");        
      var rs = "";    
      for (var i = 0; i < s.length; i++) {   
        rs = rs + s.substr(i, 1).replace(pattern, '');  
      } 
      return rs;
    }
  }
}
</script>

<style scope>
.win-bg-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.7);
  /* 设置子元素水平垂直居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  .win-con{
    padding: 30px;
    width: 420px;
    height: 300px;
    background: white;
    table{
      margin-top: 10px;
      margin-bottom: 15px;
    }
    td:first-child{
      width:60px;
    }
    input[type="text"], input[type="number"]{
      padding-left: 10px;
      width: 190px;
      height: 25px;
      line-height: 25px;
      border: 1px solid #dfdfdf;
    }
    .tip{
      color: red;
    }
    [btn]{
      display: inline-block;
      margin-right: 10px;
      width: 80px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background: linear-gradient(#fff, #f5f5f5);
      color: #606060;
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      &:nth-of-type(2){
        background: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
        border: 1px solid #2fa4e7;
        color:#fff;
      }
    }
  }
}
</style>
