*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	-webkit-text-size-adjust: none;
	user-select: none;
}
a,input{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline: none;
}
input[type="text"]{
	-webkit-appearance:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
a{
	text-decoration: none;
	color: #1d9ce5;
}
table{
	border: 1px solid #dfdfdf;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	tr{
	  th,td{
	  	padding: 3px 3px 3px 8px;
	  	height: 30px;
	  	border: 1px solid #dfdfdf;
			font-size: 15px;
			&:first-child{
				width:50px;
			}
	  }
	}
}
/* 属性选择器 */
[initNotShow]{
  display: none;
}