<template>
  <div class="com-parent">
    <div class="txt-btn-box">
      <div class="txt"><input type="text" placeholder="请输入书名" autocomplete="off" v-model.trim="keyword" maxlength="15" @change="inputAgain"></div>
      <a href="javascript:;" class="search btn" @click="searchBookByName">查询</a>
      <a href="javascript:;" class="add btn" @click="addBook">添加</a>
    </div>
    <table>
      <tbody>
        <tr>
          <th>编号</th>
          <th>书名</th>
          <th>出版社</th>
          <th>作者</th>
          <th>操作</th>
        </tr>
        <template v-if="isBookExist">
            <tr v-for="(sitem,sindex) in filterBook" :key="sitem.id" :style="{ 'background': sindex % 2!==0 ? '#ededed' :''}">
            <td>{{ sitem.bId }}</td>
            <td>{{ sitem.bName }}</td>
            <td>{{ sitem.bPublish }}</td>
            <td>{{ sitem.bAuthor }}</td>
            <td><a href="javascript:;" @click="showWin(sitem.bId)">修改</a>&nbsp;|&nbsp;<a href="javascript:;" @click="delBook(sitem.bId)">删除</a></td>
          </tr>
        </template>
        <template v-else>
          <tr style="text-align:center; height:80px;"><td colspan=5>抱歉，你搜的图书不存在！</td></tr>
        </template>
      </tbody>
    </table>
    <c-win initNotShow :cGetf="fToc" @win-page-close="fClose(false)" @win-page-update="fUpdate"></c-win>
  </div>
</template>

<script>
import popWin from './components/popWin.vue';
import { mapState, mapActions } from 'vuex';

export default {
  name:"Pcom",
  data(){
    return {
      keyword:'',
      filterBook:[],
      isBookExist:true,
      fToc:{
        fIsShowWin: false,
        fIsUpdate: false,
        fToUpdateBookInfo: {}
      }
    }
  },
  created(){
    this.actionAllBook(this.getAllBook);
  },
  components: {
    'c-win': popWin
  },
  computed:{
    ...mapState(['book','updateIndex']),
    getUpdateIndex(){
      return this.updateIndex;
    },
    getAllBook(){
      return this.book;
    }
  },
  watch:{
    /* 监听book */
    book(val){
      this.renderBookList(val);
    }
  },
  methods:{
    ...mapActions(['actionAddBook','actionDeleteBook','actionUpdateBook','actionUpdateBookIndex','actionAllBook']),
    addBook(){
      this.fToc.fIsUpdate = false;
      this.actionUpdateBookIndex(-1);
      this.fToc.fToUpdateBookInfo = {
        "bId":'',
        "bName":'',
        "bPublish": this.getAllBook[0].bPublish,
        "bAuthor": this.getAllBook[0].bAuthor
      }
      this.fClose(true);
    },
    delBook(bId){
      if(window.confirm(`确定要删除编号为${bId}的图书吗？`)){
        for(var i =0; i< this.getAllBook.length;i++){
          if(bId === this.getAllBook[i]['bId']){
            this.actionDeleteBook(i);
            break;
          }
        }
        this.renderBookList(this.getAllBook);
      }
    },
    showWin(bId){
      this.fToc.fIsUpdate = true;
      for(var i =0; i< this.getAllBook.length;i++){
        if(bId === this.getAllBook[i]['bId']){
          this.actionUpdateBookIndex(i);
          this.fToc.fToUpdateBookInfo = this.getAllBook[i];
          break;
        }
      }
      this.fClose(true);
    },
    searchBookByName(){
      var bname = this.keyword;
      if(!!bname){
        var sResult = [];
        for(var item of this.filterBook){
          if(item.bName.includes(bname)){
            sResult.push(item);
          }
        }
        if(sResult.length === 0){
          this.isBookExist = false;
        } else {
          this.renderBookList(sResult);
        }
      } else {
        this.isBookExist = true;
        this.renderBookList(this.getAllBook);
      }
    },
    /* 修改 || 添加 */
    fUpdate(obj){
      if(this.getUpdateIndex > -1){
        this.actionUpdateBook(obj);
        this.actionUpdateBookIndex(-1);
      } else {
        this.actionAddBook(obj);
      }
      this.renderBookList(this.getAllBook);
      this.fClose(false);
    },
    fClose(bval){
      this.fToc.fIsShowWin = bval;
    },
    renderBookList(bookArr){
      this.filterBook = JSON.parse(JSON.stringify(bookArr));
    },
    inputAgain(){//筛选后，删除关键字，输入新的关键字，重新搜索
      if(!!this.keyword){
        this.renderBookList(this.getAllBook);
      }
    }
  }
}
</script>

<style>
@import './static/style.css';
.com-parent {
  margin:25px auto;
  max-width: 1200px;
  .txt-btn-box{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .txt{
      margin-right: 15px;
      border: 1px solid #ccc;
      input[type="text"]{
        padding-left: 10px;
        width:190px;
        height: 25px;
        line-height: 25px;
        border: none;
      }
    }
    .btn{
      margin-right: 15px;
      width: 80px;
      height: 30px;
      line-height: 30px;
      border-radius: 5px;
      &.search{
        background: linear-gradient(#fff, #fff 60%, #f5f5f5);
        border: 1px solid #dfdfdf;
        color:#555;
      }
      &.add{
        background: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
        border: 1px solid #2fa4e7;
        color:#fff;
      }
    }
  }
}
</style>
